@{
    Layout = null;
}

<!DOCTYPE html>
<html>   
<head>
    <meta name="viewport" content="with=device-with" />
    <title>My View</title>
</head>
    <body>
        <div>
            @ViewBag.Greeting World (from view)!
            <p>
                We're going to have an exciting party.<br/>
            </p>
            <a asp-action="InviteForm">Navigate to InviteForm</a>
        </div>
    </body>

</html>

